{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-grey text-white text-center">
                <h2>Edit Appointment</h2>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.date, 'Date & Time', { 'label_attr': {'class': 'form-label font-weight-bold'} }) }}
                        {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.date) }}
                    </div>
                    <div class="form-group mt-3">
                        {{ form_label(form.status, 'Status', { 'label_attr': {'class': 'form-label font-weight-bold'} }) }}
                        {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.status) }}
                    </div>
                    <div class="form-group mt-3">
                        {{ form_label(form.doctor, 'Doctor', { 'label_attr': {'class': 'form-label font-weight-bold'} }) }}
                        {{ form_widget(form.doctor, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.doctor) }}
                    </div>
                    <div class="form-group mt-3">
                        {{ form_label(form.clinic, 'Clinic', { 'label_attr': {'class': 'form-label font-weight-bold'} }) }}
                        {{ form_widget(form.clinic, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.clinic) }}
                    </div>
                    <button class="btn btn-success" type="submit">Save Changes</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{{ path('appointment_list') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
{% endblock %}
